.typeBoolean {
  background-color: sandybrown
}

.typeString {
  background-color: lightskyblue;
}

.typeNull {
  background-color: lightslategray;
}

.typeNumeric {
  background-color: salmon;
}

.bucket {
  background-color: rgba(189, 247, 247, 0.338);
}

.largest {
  background-color: springgreen
}